.logo {
  font-size: 3.2rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-bar {
  color: var(--color-500);
  margin-top: 2.4rem;
  font-size: 1.6rem;
  &_item {
    margin-right: 2.4rem;
    cursor: pointer;
  }
}