.title {
  font-size: 2.4rem;
  font-weight: 600;
  cursor: pointer;
}

.content {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  color: var(--color-500);
}

.date {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  color: var(--color-400);
}