.wrapper {
  width: 100%;
  max-width: 102.4rem;
  min-height: 100vh;
  border-radius: 2.4rem;
  border: var(--page-border);
  background: var(--foreground);
  padding: 7.2rem 6vw 2.4rem;
  margin: 0 auto;
}