.wrapper {
  width: 100%;
  max-width: 102.4rem;
  min-height: 100vh;
  border-radius: 2.4rem;
  border: var(--page-border);
  background: var(--foreground);
  padding: 4.8rem 3.6vw 4.8rem;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .wrapper {
    border-radius: 0;
  }
}