.wrapper {
  width: 100%;
  max-width: 102.4rem;
  min-height: calc(100vh - 8vw);
  margin: 0 auto;
  padding: 4.8rem 3.6vw 4.8rem;
  border: var(--page-border);
  border-radius: 2.4rem;
  background: var(--foreground);
}

@media screen and (max-width: 480px) {
  .wrapper {
    border-radius: 0;
  }
}