.back-button {
  height: 3.6rem;
  width: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--page-border);
  border-radius: 0.8rem;
  cursor: pointer;
  margin-bottom: 2.4rem;
}